<a href="https://colab.research.google.com/github/notseantan/DSAA-58010/blob/main/Activity_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.)

In [47]:
numbers = array('i', [2,4,6,8,10,12,14,16,18,20])
for i in numbers:
    print(i)
print("Access through indexes:")
print(numbers[0], "= 0")
print(numbers[1], "= 1")
print(numbers[2], "= 2")
print("Sum:")
Sum = sum(numbers)
print(Sum)

2
4
6
8
10
12
14
16
18
20
Access through indexes:
2 = 0
4 = 1
6 = 2
Sum:
110

2.)

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.append("eleven")
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'eleven']

3.)

In [20]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.insert(1, "eleven")
print(numbers)

[1, 'eleven', 2, 3, 4, 5, 6, 7, 8, 9, 10]

4.)

In [23]:
numbers = [5,4,3,2,1]
numbers.reverse()
print(numbers)

[1, 2, 3, 4, 5]

5.)

In [18]:
numbers = [5,4,3,2,1]
x = len(numbers)
print(x)

5